# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Feature flags
NEXT_PUBLIC_PAYMENTS_ENABLED=false

# Contact
NEXT_PUBLIC_ADMIN_WHATSAPP=2347050376975

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
